.card-body {
}

.card-text {
    width: 100%;
    height: 225px;
    overflow: auto;
    text-overflow: ellipsis;
}

/*html {*/
/*    background: url(/html_background.jpg) no-repeat center center fixed;*/
/*    -webkit-background-size: cover;*/
/*    -moz-background-size: cover;*/
/*    -o-background-size: cover;*/
/*    background-size: cover;*/
/*}*/

/*.container {*/
/*    background-image: url(/html_background.jpg);*/
/*}*/

/*.card-body {*/
/*    background-image: url(/html_background.jpg);*/
/*}*/